<%# binding.pry %>
    <%= form_for(@artwork) do |f| %>

    <div><p>
        <%= f.label :name %>
        <%= f.text_field :user_id %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </p></div><br>

    <div>
        <%= f.submit %>
    </div>

    <% end %>