<%# binding.pry %>
 <% if @comment.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@comment.errors.count, "error") %>
            prohibited this post from being saved:
            </h2>
 
        <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
<h2>Comments</h2>
    <%= form_for([@artwork, @comment]) do |f| %>

    <%= f.hidden_field :artwork_id %>

    <div class="content" >
        <%= f.label :content %>
        <%= f.text_area :content %>
    </p></div><br>

    <div>
        <%= f.submit %>
    </div>

    <% end %>